on:
  schedule:
    - cron: '0 10 * * 1-5' # 10am weekdays. (UST) 3am weekdays PST Ref https://crontab.guru/examples.html
  workflow_dispatch:

name: Place an order
jobs:
  order:
    name: place-an-order
    runs-on: ubuntu-latest
    environment: SALTALK_AUTH
    steps:
      - name: Check out this repo
        uses: actions/checkout@v3  # Use a specific version instead of 'master'

      - name: Setting up Python
        uses: actions/setup-python@v4  # Use a specific version instead of 'v4'
        with:
          python-version: '3.9'

      - name: Installing package list
        run: apt list --installed    
      
      - name: Removing previous chrome instances on runner 
        run: sudo apt purge google-chrome-stable  

      - name: Install Chromium browser, xvfb
        run: sudo apt-get install -y chromium-browser xvfb

      - name: Installing all necessary packages
        run: |
          pip install requests webdriver-manager
          pip install -r requirements.txt   

      - name: Run the selenium script
        run: |
          cd src
          python main.py
        env:
          SALTALK_ID: ${{ secrets.SALTALK_ID }}
          SALTALK_PASSWORD: ${{ secrets.SALTALK_PASSWORD }}
